#listaPokemon .card{
    width: 20%;

    border: 1px solid black;
    border-radius: 2rem;

    padding: 1rem;
    margin: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-transform: uppercase;
}

#listaPokemon .card .img-top {
    display: none;
}
#listaPokemon .card:hover .img-top {
    display: inline;
}
#listaPokemon .card:hover .img-back {
    display: none;
}