body {
    display: flex;
    align-items: center;
    justify-content: center;
}

#compra {
    border: 0, 1rem;
    border-color: black;
    border-style: solid;
    width: 40rem;

}

.form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form div {
    width: 100%;
    text-align: center;
}

button {
    width: 15%;
    background-color:rgb(29, 118, 166);
}

#item {
    width: 75%;
}

/*-----------------------------------------*/
img{
    width: 2rem;
    height: 2rem;
    padding: 0.75rem;
}

.lista{
    width: 100%;
}
.lista .elemento{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}
.lista .elemento .nombre{
    width: 80%;
    margin-left: 1.5rem;
}
.lista .elemento .imgs{
    width: 20%;
    display: flex;
    justify-content: flex-start;
}

.clear{    
    text-align: center;
}

.clear p{
    color: brown;
    font-size: 1.5rem;
}
